/* GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;


}

body {
    height: 100vh;
    padding: 20px;
    display: flex;
    background-color: #191923;
}

/* HEADER */
header {
    position: relative;
    height: 100%;
    width: 320px;
    background-color: #20202a;
    display: block;
    box-shadow: 0 0 8px #0000005e;
    margin-right: 15px;
    overflow: hidden;
    overflow-y: scroll;
    z-index: 1000;
}


header::-webkit-scrollbar {
    /*esconde a scrollbar*/
    width: 0;
}

.vazio {
    max-width: 100%;
    height: 260px;
}


.perfil {
    top: 0;
    left: 0;
    position: fixed;
    max-width: 320px;
    height: 250px;
    background-color: #252531f5;
    text-align: center;
    padding: 30px 0;
    margin: 20px;
    z-index: 1000;
}

.perfil img {
    border-radius: 50%;
    background-color: #252531f5;
}

.perfil h4 {
    color: #88888a;
    font-size: .8rem;
    font-weight: 400;
    margin: 0 50px;
    line-height: 20px;
    background-color: #252531f5;
}

.perfil h5 {
    color: #f1f1f2;
    font-size: 1rem;
    font-weight: 600;
    margin: 0 50px;
    padding-bottom: 10px;
    transition: .5s ease-in-out;
    background-color: #252531f5;
}

.perfil h5:hover {
    color: #dc4741;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.dados {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid #404048;
}

.esquerda h4 {
    text-align: left;
    font-size: .8rem;
    color: #f1f1f2;
    font-weight: 600;
    line-height: 20px;
}

.direita h4 {
    text-align: right;
    font-size: .8rem;
    color: #76767a;
    font-weight: 600;
    line-height: 20px;
}

/* CIRCULAR PROGRESS */
.circular-progress {
    max-width: 100%;
    height: 100px;
    margin: 0 30px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #404048;
}

svg {
    width: 100px;
    height: 100px;
    rotate: -90deg;
}

.en-bar {
    fill: transparent;
    stroke: #14141b;
    stroke-width: 4px;
}

.en-progress {
    fill: transparent;
    stroke: #dc4741;
    stroke-width: 4px;
    stroke-dasharray: 188.5;
    stroke-dashoffset: 188;
    stroke-linecap: butt;
    animation: en-progress 2s linear forwards;
}

.pt-bar {
    fill: transparent;
    stroke: #14141b;
    stroke-width: 4px;
}

.pt-progress {
    fill: transparent;
    stroke: #dc4741;
    stroke-width: 4px;
    stroke-dasharray: 188.5;
    stroke-dashoffset: 188;
    stroke-linecap: butt;
    animation: pt-progress 2s linear forwards;
}

#num-en {
    transform: rotate(90deg);
    translate: 94px -5px;
    fill: #f1f1f2;
    font-weight: 600;
}

#num-pt {
    transform: rotate(90deg);
    translate: 94px -10px;
    fill: #f1f1f2;
    font-weight: 600;
}

#lan-en {
    transform: rotate(90deg);
    translate: 10px 30px;
    font-size: .8rem;
    fill: #f1f1f2;
    font-weight: 500;
}

#lan-pt {
    transform: rotate(90deg);
    translate: 10px 20px;
    font-size: .8rem;
    fill: #f1f1f2;
    font-weight: 500;
}

@keyframes en-progress {
    100% {
        stroke-dashoffset: 75.4;
    }
}

@keyframes pt-progress {
    100% {
        stroke-dashoffset: 0;
    }
}

/* BAR PROGRESS */
.bar-progress {
    margin: 0 30px;
    max-width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #404048;
}

.bar-progress ul {
    list-style: none;
}

.bar-progress ul li {
    margin: 25px 0;
}

.bar-progress ul li h4 {
    font-size: .8rem;
    font-weight: 500;
    color: #f1f1f2;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.bar-progress .barras {
    position: relative;
    background-color: #14141b;
    display: block;
    height: 3px;
}

.barras>span {
    height: 3px;
    background-color: #dc4741;
    position: absolute;
}

#percent {
    max-width: 100%;
    text-align: right;
    font-size: .7rem;
    color: #76767a;
}

.html {
    width: 70%;
    animation: html 3s;
}

.css {
    width: 60%;
    animation: css 3s;
}

.js {
    width: 20%;
    animation: js 3s;
}

.illustrator {
    width: 85%;
    animation: illustrator 3s;
}

@keyframes html {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}

@keyframes css {
    0% {
        width: 0%;
    }

    100% {
        width: 60%;
    }
}

@keyframes js {
    0% {
        width: 0%;
    }

    100% {
        width: 20%;
    }
}

@keyframes illustrator {
    0% {
        width: 0%;
    }

    100% {
        width: 85%;
    }
}

/* INFO */
.info {
    margin: 15px 30px;
    max-width: 100%;
    display: block;
    text-align: left;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #404048;
}

.info ul {
    list-style: none;
    font-size: .8rem;
    line-height: 20px;
    font-weight: 500;
    color: #76767a;
}

.info ul li i {
    color: #dc4741;
}

/* =================================== */

/* DOWNLOAD */

.download {
    margin: 0 30px;
    display: flex;
    padding-bottom: 15px;
    border-bottom: 1px solid #404048;
    align-items: center;
    justify-content: center;
}

.download a {
    text-decoration: none;
    color: #76767a;
    font-size: .8rem;
    font-weight: 600;
    transition: .3s ease-in-out;
}

.download a:hover {
    color: #f1f1f2;
    cursor: pointer;
    transition: .3s ease-in-out;
}

/* RODAPÉ */

.rodape {
    bottom: 0;
    position: sticky;
    max-width: 320px;
    height: 40px;
    background-color: #252531f5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rodape i {
    color: #88888a;
    margin: 0 15px;
    font-size: 1rem;
    transition: .5s ease-in-out;
    background-color: #252531f5;
}

.rodape i:hover {
    cursor: pointer;
    color: #f1f1f2;
    transition: .2s ease-in-out;
}

/* ///////////////////////////////////////////// */
/* MAIN */
main {
    position: absolute;
    right: 20px;
    bottom: 20px;
    top: 20px;
    max-height: 100%;
    width: 70%;
    display: block;
    overflow: hidden;
    overflow-y: scroll;
}

.img {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top, #191923 20%, #19192386), url(images/fundo.jpg);
    background-size: cover;
}

main::-webkit-scrollbar {
    width: 0;
}


.banner {
    background-color: #14141b;
    max-width: 100%;
    height: 50%;
    margin: 0 60px;
    margin-top: 60px;
    padding: 30px;
    box-shadow: 0 0 8px #0000005e;
    position: relative;
    background-image: linear-gradient(#19192379 0%, #19192379), url(images/fundo.jpg);
    background-size: cover;
}

.banner h1 {
    margin-top: 10px;
    color: #f1f1f2;
    padding: 5px 20px;
    background-color: transparent;
    font-size: 3rem;
    font-weight: 800;
}

.banner .txt-animado {
    color: #f1f1f2;
    padding: 0 20px;
    background-color: transparent;
    font-weight: 600;
}

.txt-animado span {
    position: relative;
    background-color: transparent;
}

.txt-animado span::before {
    content: "";
    color: #dc4741;
    animation: palavras 20s infinite;
}

.txt-animado span::after {
    content: "";
    position: absolute;
    height: 100%;
    border-left: 2px solid #dc4741;
    right: -10px;
    animation: cursor .8s infinite, digita 20s steps(10) infinite;
    width: calc(100% + 10px);
    background-image: linear-gradient(to top, #19192379 0%, #19192379), url(images/fundo.jpg);
}

@keyframes digita {

    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    90%,
    95% {
        width: 0;
    }

    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85% {
        width: calc(100% + 10px);
    }
}

@keyframes cursor {
    0% {
        border-left: 2px solid #14141b;
    }

}

@keyframes palavras {

    0%,
    20% {
        content: "Websites";
    }

    21%,
    40% {
        content: "Programas";
    }

    41%,
    60% {
        content: "Artes";
    }

    61%,
    80% {
        content: "Ilustrações";
    }

    81%,
    100% {
        content: "Logos";
    }
}

.banner button {
    color: #191923;
    margin: 30px 20px;
    margin-bottom: 0;
    padding: 15px 40px;
    background-color: #dc4741;
    border: 0;
    font-weight: 600;
}

/* MEUS SERVIÇOS */
.services {
    max-width: 100%;
    height: max-content;
    position: relative;
    margin: 0 60px;
    margin-top: 30px;
    display: flex;
}

.titulo h1 {
    max-width: 100%;
    position: relative;
    height: max-content;
    margin: 0 60px;
    margin-top: 60px;
    color: #f1f1f2;
    font-size: 1.2rem;
    background: none;
}

.box1,
.box2,
.box3 {
    padding: 30px;
    width: 300px;
    display: block;
    text-align: left;
    height: 230px;
    background-color: #2b2b36;
    justify-content: space-between;
    margin: 0 10px;
    transition: .4s ease-in-out;
}

.services .box1:hover,
.services .box2:hover,
.services .box3:hover {
    transform: scale(1.05);
    transition: .1s ease;
}

.services h4 {
    margin-bottom: 20px;
    color: #f1f1f2;
}

.services p {
    color: #88888a;
    font-weight: 500;
    line-height: 25px;
}

.services a {
    text-decoration: none;
    color: #dc4741;
    font-weight: 700;
    transition: .2s;
}

.services a:hover {
    color: #fa605b;
    transform: scale(1.05);
    text-shadow: 0px 0px 10px #fa605b;
}

/* HOBBIES */
.hobbies{
    position: relative;
    margin: 0 60px;
    margin-top: 30px;
    max-width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-between;
}

.violao{
    width: 250px;
    height: 350px;
    position: relative;
    background-image: url(images/violao.jpg);
    background-position: 100% 0%;
    background-size: cover;
    background-repeat: no-repeat;
}

.artes{
    width: 250px;
    height: 350px;
    position: relative;
    background-image: url(images/lobo.png);
    background-position: 100% 0%;
    background-size: cover;
    background-repeat: no-repeat;
}

.games{
    width: 250px;
    height: 350px;
    position: relative;
    background-image: url(images/games.jpg);
    background-position: 100% 0%;
    background-size: cover;
    background-repeat: no-repeat;
}

.violao:hover, .artes:hover, .games:hover{
    background-position: 100% 100%;
    transition: 5s;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #14141b86;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .5s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 600;
    color: #f1f1f2;
}

.overlay:hover{
    opacity: 1; 
}